.sidebar {
    width: 250px;
    min-height: 100vh;
}

.sidebar .nav-link {
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar .nav-link:hover {
    background: #b22222;
    color: white !important;
}